<h1>You are welcome <%= @user.name %></h1>

<% if @events %>
<h3>You created the following events</h3>

<% @events.each do |event| %>

  

  <%= link_to event.title , event %> 
  
  <br>
  >
<% end %>
<% end %>

<h2>Create a new event: <%= link_to  "New event", events_new_url %></h2>

