<nav>
    <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'View all Events', events_url %></li>
     <li> <%= link_to  "Sign Out", signout_path , method: :delete %></h2></li>   
      <li> <%= link_to  "Create event", events_new_url %> </li>  
      
    </ul>
</nav>